@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;700&display=swap');
//font-family: 'Signika', sans-serif;

// Variables
$color-one: #0097e6;
$color-two: #33d9b2;
$color-three: #2c2c54;
$color-four: #ffffff;
$color-five: #ff5252;


/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Inconsolata', monospace;
    color: $color-three
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: auto;
}

section {
    padding: 96px 0;
}

/* Navigation */
.navigation {
    background-color: $color-one;
    padding: 12px 0;
}

.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    margin: 0 18px;
    position: relative;

}

.navigation a {
    text-decoration: none;
    color: $color-four;
}

.navigation a:hover, 
li:hover ul {
    color: $color-two;
    display: block;
}

.navigation ul ul li {
   display: block;
    margin-bottom: 12px;
    color: black
}

li ul {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    text-align: center;
    background-color: $color-four;
    padding-top: 12px;
}

a.second-level {
    color: $color-one;
    postion: absolute;
    
}

/* header */
header, h1 {
    background-color: $color-one;
    color: $color-four;
    margin: 0;
}

.creatively {
    font-family: 'Signika', sans-serif;
    font-weight: bold;
}